.container {
  text-align: center;
  font-family: sans-serif;
  margin-top: 60px;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 20px;
}

.animacao {
  display: inline-block;
  animation: pop 0.25s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(0.7);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.botao {
  padding: 12px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background: #f15697;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.1s ease;
}

.botao:active {
  transform: scale(0.92);
  background: #f15697;
}
